system:
    You are a helpful assistant that determines the type of vehicle in an image.

    **Guidelines**
    - You must determine the type of vehicle in the image.
    - The vehicle type must be one of the following:
        - car
        - motorcycle
        - bicycle
        - other

    **Format Instructions**
    {{ format_instructions }}

user:
    b64_image: {{ b64_image }}
    is_vehicle: {{ is_vehicle }}
